# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [38]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [39]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/aleksandrmadisson/Repository/udacity/data-engineering-nanodegree-udacity/data-modeling-with-apache-cassandra

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [40]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [41]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [42]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(['127.0.0.1'])

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [43]:
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS udacity
        WITH REPLICATION =
        { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """)
except Exception as e:
    print(e)

#### Set Keyspace

In [44]:

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

#### Select queries make take some time to display a result.

### Query 1
Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4.  

Table contains fields which are requiested by business (SongTitle, Artist, Length) and primary fields which are helpful to perform search operation (SessionId, ItemInSession). Cassadra should optimise search for these feields.

In [45]:
## TO-

create_table_query = """
CREATE TABLE IF NOT EXISTS song_session (
    session_id int,
    item_in_session int,
    song_title text,
    artist text,
    length float,
    PRIMARY KEY (session_id, item_in_session)
)
"""

try:
    session.execute(create_table_query)
except Exception as e:
    print(e)

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        insert_query = """
        INSERT INTO song_session (session_id, item_in_session, song_title, artist, length)
        VALUES (%s, %s, %s, %s, %s)
        """
        session.execute(insert_query, (int(line[8]),  int(line[3]), line[9], line[0], float(line[5])))

In [46]:
select_query = "SELECT * FROM song_session WHERE session_id = %s AND item_in_session = %s"
try:
    rows = session.execute(select_query, (338, 4))
except Exception as e:
    print(e)

data = map(lambda row: [row.session_id, row.item_in_session, row.song_title, row.artist, row.length], rows)
df = pd.DataFrame(data, columns=["session_id", "item_in_session", "song_title", "artist", "length"])
display(df)

,session_id,item_in_session,song_title,artist,length
0,338,4,Music Matters (Mark Knight Dub),Faithless,495.307312

### Query 2

Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [47]:
create_table_query = """
CREATE TABLE IF NOT EXISTS user_song_session (
    user_id int,
    session_id int,
    item_in_session int,
    artist text,
    song_title text,
    first_name text,
    last_name text,
    PRIMARY KEY ((user_id, session_id), item_in_session)
)
"""

try:
    session.execute(create_table_query)
except Exception as e:
    print(e)

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        insert_query = """
        INSERT INTO user_song_session (
            user_id, session_id, item_in_session, artist,
            song_title, first_name, last_name)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        """
        session.execute(insert_query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

In [48]:
select_query = "SELECT * FROM user_song_session WHERE user_id = %s AND session_id = %s"
try:
    rows = session.execute(select_query, (10, 182))
except Exception as e:
    print(e)
    
columns = ["user_id", "session_id", "item_in_session", "artist", "song_title", "first_name", "last_name"]
data = map(lambda row: [row.user_id, row.session_id, row.item_in_session, 
                        row.artist, row.song_title, row.first_name, row.last_name], rows)
df = pd.DataFrame(data, columns=columns)
display(df)

,user_id,session_id,item_in_session,artist,song_title,first_name,last_name
0,10,182,0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,10,182,1,Three Drives,Greece 2000,Sylvie,Cruz
2,10,182,2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,10,182,3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### Query 3

Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'  
A Song title as a primary key provides fast search and user_id represents unique user.

In [49]:
create_table_query = """
CREATE TABLE IF NOT EXISTS song_history(
    song_title text, 
    user_id int,
    first_name text,
    last_name text,
    PRIMARY KEY (song_title, user_id)
)
"""

try:
    session.execute(create_table_query)
except Exception as e:
    print(e)

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        insert_query = """
        INSERT INTO song_history (song_title, user_id, first_name, last_name)
        VALUES (%s, %s, %s, %s)
        """
        session.execute(insert_query, (line[9], int(line[10]), line[1], line[4]))

In [51]:
select_query = "SELECT * FROM song_history WHERE song_title = %s"
try:
    rows = session.execute(select_query, ("All Hands Against His Own",))
except Exception as e:
    print(e)
    
data = map(lambda row: [row.song_title, row.user_id, row.first_name, row.last_name], rows)
df = pd.DataFrame(data, columns=["song_title", "user_id", "first_name", "last_name"])
display(df)

                  song_title  user_id  first_name last_name
0  All Hands Against His Own       29  Jacqueline     Lynch
1  All Hands Against His Own       80       Tegan    Levine
2  All Hands Against His Own       95        Sara   Johnson

### Drop the tables before closing out the sessions

In [52]:
try:
    session.execute("DROP TABLE song_session")    
    session.execute("DROP TABLE user_song_session")    
    session.execute("DROP TABLE song_history")
    print("All tables have been deleted")
except Exception as e:
    print(e)

All tables have been deleted

### Close the session and cluster connection¶

In [53]:
session.shutdown()
cluster.shutdown()
print("The session has been closed")

The session has been closed